<div class="thumbnail">
	<div class="store-caption">
		<p><%= image_tag("storeconscience.jpg", class: "img-fluid", alt: "#{t :store_book_pdf_conscience}") %></p>
		<p align="right"><%= "27 #{t :pages}" %></p>
		<div class="row">
			<div class="row-col-img-padding">
				<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" align="center"><%= link_to "#{t :free_sample}", "https://lightbe.s3.us-west-2.amazonaws.com/YourConscience_SAMPLE.pdf", target: "_blank" %></div>
				<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" align="center">
					<%= link_to "#{t :buy} #{t :store_book_pdf_conscience_price}", "https://transactions.sendowl.com/products/77676748/C81BDC51/add_to_cart", rel: "nofollow" %>
					<script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
				</div>
				<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" align="center"><%= render 'pages/view_cart' %></div>
			</div>
		</div>
	</div>
</div>