<div id="store" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><%= "#{@page_title_view}" %></h2>
      <hr>
      <p><%= "#{t :store01}" %><br><%= "#{t :store02}" %><br><%= "#{t :store03}" %><br><%= "#{t :store04}" %><br><%= "#{t :store05}" %></p>
			<%= content_tag(:div, content_tag(:a, "", id: "#{t :store_physical}"), class: "anchor") %>
			<p class="text-120 text-center font-weight-bold"><%= "#{t :store_physical}" %></p>
     	<p><%= "#{t :store06}" %></p>
			<div class="row">
				<div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 " align="center">
					<%= link_to image_tag("storebanner.jpg", class: "img-fluid", alt: "#{t :store_physical }"), "http://store.lighthousemarfa.com", target: "_blank" %>
				</div>
			</div><br>
     	<p><%= "#{t :store07} " %><%= link_to "#{t :store08}", overview_path %></p>
			<!-- <p class="text-120 text-center font-weight-bold"><%= "#{t :store_digital}" %></p>
     	<p><%= "#{t :store09}" %></p>
			<div class="row">
				<div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3" align="center"><%= render "pages/book_pdf_conscience" %></div>
				<div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3" align="center"><%= render "pages/book_pdf_finance" %></div>
				<div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3" align="center"><%= render "pages/book_pdf_select" %></div>
				<div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3" align="center"><%= render "pages/book_pdf_healing" %></div>
			</div>
			<p class="text-120 text-center font-weight-bold">
				<%= link_to "#{t :store10}", "https://transactions.sendowl.com/packages/58845/772C799D/add_to_cart", rel: "nofollow" %>
				<script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
			</p>
     	<p><%= "#{t :store11}" %></p>
     	<p><span class="text-red"><%= "#{t :store12}" %></span><br><%= "#{t :store13}" %></p>
     	<p><%= "#{t :store14}" %></p> -->
    </div>
  </div>
</div>