<div id="store" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><%= "#{@page_title_view}" %></h2>
      <hr>
      <p><%= "#{t :store01}" %><br><%= "#{t :store02}" %><br><%= "#{t :store03}" %><br><%= "#{t :store04}" %><br><%= "#{t :store05}" %></p>
			<%= content_tag(:div, content_tag(:a, "", id: "#{t :store_physical}"), class: "anchor") %>
			<p class="text-120 text-center font-weight-bold"><%= "#{t :store_physical}" %></p>
     	<p><%= "#{t :store06}" %></p>
			<div class="row">
				<div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 " align="center">
					<%= link_to image_tag("storebanner.jpg", class: "img-fluid", alt: "#{t :store_physical }"), "http://store.lighthousemarfa.com", target: "_blank" %>
				</div>
			</div><br>
     	<p><%= "#{t :store07} " %><%= link_to "#{t :store08}", overview_path %></p>
    </div>
  </div>
</div>