<div id="terms" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><%= "#{@page_title_view}" %></h2>
      <hr>
    </div>
    <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-10 offset-sm-1 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1" align="justify">
			<p class="text-terms font-weight-bold"><%= "#{t :terms001}" %></p>
			<p><%= "#{t :terms002a} " %><span class="font-weight-bold"><%= "#{request.host_with_port}" %></span><%= "#{t :terms002b}" %></p>
			<!-- <p class="font-weight-bold"><%= "#{t :terms02}" %></p>
			<p><%= "#{t :terms02a} #{t :terms02b} #{t :terms02c}" %></p>
			<p class="font-weight-bold"><%= "#{t :terms03}" %></p>
			<p><%= "#{t :terms03a} " %><span class="font-weight-bold"><%= link_to "#{t :link_contact}", contact_path %></span><%= " #{t :page}" %>.</p> -->
			<p class="font-weight-bold"><%= "#{t :terms003}" %></p>
			<p><span class="font-weight-bold"><%= "#{t :store_name}" %></span><%= " #{t :terms003a} " %><span class="font-weight-bold"><%= "#{t :store_name}" %></span><%= " #{t :terms003b} #{t :terms003c} " %><span class="font-weight-bold"><%= "#{t :store_name}" %></span><%= " #{t :terms003d} #{t :terms003e}" %></p>
			<p class="font-weight-bold"><%= "#{t :terms004}" %></p>
			<p><%= "#{t :terms004a} " %><span class="font-weight-bold"><%= "#{t :store_name}" %></span><%= " #{t :terms004b} #{t :terms004c} #{t :terms004d} #{t :terms004e} #{t :terms004f} #{t :terms004g} #{t :terms003e}" %></p>
			<p class="font-weight-bold"><%= "#{t :terms005}" %></p>
			<p><%= "#{t :terms005a} " %><span class="font-weight-bold"><%= "#{t :store_name}" %></span><%= "#{t :terms005b} #{t :terms005c}" %></p>
			<p class="font-weight-bold"><%= "#{t :terms006}" %></p>
			<p><%= "#{t :terms006a} " %><span class="font-weight-bold"><%= "#{t :store_name}" %></span><%= " #{t :terms006b} #{t :terms006c}" %></p>
			<p class="font-weight-bold"><%= "#{t :terms007}" %></p>
			<p><%= "#{t :terms007a} #{t :terms007b} #{t :terms007c}" %></p>
			<p><%= "#{t :terms007d} #{t :terms007e}" %></p>
			<p><%= "#{t :terms007f}" %></p>
			<p class="font-weight-bold"><%= "#{t :terms008}" %></p>
			<p><%= "#{t :terms008a} #{t :terms008b}" %></p>
			<p><%= "#{t :terms008c} #{t :terms008d}" %></p>
			<p class="font-weight-bold"><%= "#{t :terms009}" %></p>
			<p><%= "#{t :terms009a} #{t :terms009b} #{t :terms009c} #{t :terms009d} #{t :terms009e} #{t :terms009f}" %></p>
			<p><%= "#{t :terms009g}" %></p>
			<p class="font-weight-bold"><%= "#{t :terms010}" %></p>
			<p><%= "#{t :terms010a} #{t :terms010b} #{t :terms010c} #{t :terms010d} #{t :terms010e} #{t :terms010f} #{t :terms010g}" %></p>
			<p class="font-weight-bold"><%= "#{t :terms011}" %></p>
			<p><%= "#{t :terms011a}" %></p>
			<p class="font-weight-bold"><%= "#{t :terms012}" %></p>
			<p><%= "#{t :terms012a} " %><%= link_to "#{t :link_contact}", contact_path %><%= " #{t :page}" %>.</p>
			<p class="font-weight-bold"><%= link_to "#{t :return_to_store}", "http://store.lighthousemarfa.com", target: "_blank" %></p>
    </div>
  </div>
</div>