<div id="terms" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><%= "#{@page_title_view}#{t :space}!" %></h2>
      <hr>
    </div>
		<p><%= "#{t :thanks01}" %><br><%= "#{t :thanks02}" %><br><%= "#{t :thanks03}" %></p>	
		<p><%= "#{t :thanks04}" %></p>
		<p class="font-weight-bold"><%= "#{t :store_name}" %></p>
	</div>
</div>